.header {
  position: fixed;   /* 🔥 important */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  border-bottom: 1px solid #ccc;
}
.logo {
  font-weight: bold;
  font-size: 18px;
  color: #007bff;
  cursor: pointer;
}

.nav-items span {
  margin: 0 10px;
  cursor: pointer;
}

.right-section span {
  margin-left: 15px;
  color: #555;
}